*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: wheat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideContainer{
  height: 300px;
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  position: relative;
}
.imgContainer{
  display: flex;
  transition: transform .4s ease-in-out;

}
.btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: white;
  opacity: .5;
  cursor: pointer;
}
.preview{
 left: 10px;
}
.next{
  right: 10px;
}
.btn:hover{
  opacity: 1;
}